<style>


body {
    font-family: "Courier New", Courier, monospace;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ebc6d9;
    
}

.nav li {
    display: inline-block;
     float: left;
    border-right:1px solid #bbb;
}


.nav li a:hover{
    background-color: #ebc7d5;
}

.nav li a {
    font-family: "Courier New", Courier, monospace;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    background-color: #d98caf;
    text-align: center;
    width: 400px;

}


.pic {

   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;


}








table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}





 </style>